[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
[submodule "vendor/nwaku"]
	path = vendor/nwaku
	url = https://github.com/logos-messaging/logos-delivery.git
	ignore = untracked
	branch = feat/cover-traffic
[submodule "vendor/nim-protobuf-serialization"]
	path = vendor/nim-protobuf-serialization
	url = https://github.com/status-im/nim-protobuf-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/npeg"]
	path = vendor/npeg
	url = https://github.com/zevv/npeg.git
	ignore = untracked
	branch = master
[submodule "vendor/blake2"]
	path = vendor/blake2
	url = https://github.com/narimiran/blake2.git
	ignore = untracked
	branch = master
[submodule "vendor/libchat"]
	path = vendor/libchat
	url = https://github.com/logos-messaging/libchat.git
[submodule "vendor/nim-ffi"]
	path = vendor/nim-ffi
	url = https://github.com/logos-messaging/nim-ffi.git
	branch = master
