[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
[submodule "vendor/nwaku"]
	path = vendor/nwaku
	url = https://github.com/waku-org/nwaku.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-sds"]
	path = vendor/nim-sds
	url = https://github.com/jazzz/nim-sds.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-protobuf-serialization"]
	path = vendor/nim-protobuf-serialization
	url = https://github.com/status-im/nim-protobuf-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/npeg"]
	path = vendor/npeg
	url = https://github.com/zevv/npeg.git
	ignore = untracked
	branch = master
[submodule "vendor/blake2"]
	path = vendor/blake2
	url = https://github.com/narimiran/blake2.git
	ignore = untracked
	branch = master
