name: test

on:
    pull_request:
        branches:
          - main
        paths-ignore:
          - '**README.md'
          - '.gitignore'
          - 'LICENSE'
jobs:
    tests-tasks:
        strategy:
          matrix:
            os: [ubuntu-latest, macOS-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            - name: Update
              run: make update
            - name: Tests
              run: make tests
